:root[data-theme="light"] {
  --text-primary: #213547;
  --text-secondary: #666666;
  --background-primary: #ffffff;
  --background-secondary: #f9f9f9;
  --accent-primary: #646cff;
  --accent-secondary: #747bff;
}

:root[data-theme="dark"] {
  --text-primary: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --background-primary: #242424;
  --background-secondary: #1a1a1a;
  --accent-primary: #646cff;
  --accent-secondary: #535bf2;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

a {
  font-weight: 500;
  color: var(--accent-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-secondary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-secondary);
  color: var(--text-primary);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--accent-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.read-the-docs {
  color: var(--text-secondary);
}
